 div#contenido { 
                clear:both; 
            }
            
body{
    font: 83.5% "Trebuchet MS", sans-serif;
    margin: 50px;
	font-size: 14px;
	background-color: #e7ebf2;
}
			


			

            #dialog-link {
                padding: .4em 1em .4em 20px;
                text-decoration: none;
                position: relative;
            }
            #dialog-link span.ui-icon {
                margin: 0 5px 0 0;
                position: absolute;
                left: .2em;
                top: 50%;
                margin-top: -8px;
            }
            #icons {
                margin: 0;
                padding: 0;
            }
            #icons li {
                margin: 2px;
                position: relative;
                padding: 4px 0;
                cursor: pointer;
                float: left;
                list-style: none;
            }
            #icons span.ui-icon {
                float: left;
                margin: 0 4px;
            }
            .fakewindowcontain .ui-widget-overlay {
                position: absolute;
            }
            #error{
                color: red;
                background-color: #F08080;
            }
			
			
			
			
.menu {
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

.menu {
    width: 100%;
}

.menu {
    list-style: none outside none;
    margin-bottom: 0;
    padding-left: 0;
}

ul, ol {
    margin-bottom: 10px;
    margin-top: 0;
}

.menu > .active > a, .menu > .active > a:hover, .menu > .active > a:focus {
    background-color: #DDDDDD;
    background-image: none;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15) inset;

	}
	
#contenido{
	
}	

h1{
    margin-bottom: 10px;
    margin-top: 20px;
	color: inherit;
    font-family: inherit;
    font-weight: normal;
    line-height: 1.1;
	color: #333333;
	font-family: Helvetica;
	font-size: 53px;
}